* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

body {
    line-height: normal;
}

/* -- BREAK -- */



body {
    background: #fff;
}

body.disablescroll {
    overflow-y: hidden;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.container.psr {
    position: relative;
}

/* -- BREAK -- */







header {
    position: fixed;
    width: 100%;
    height: 105px;
    left: 0;
    top: 0;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background: #ccc;
}

header.fixed {
    background: #ccc;
    border-bottom: 1px solid #eee;
    height: 170px;
}

header .container {
    position: relative;
    height: 100%;
}

.header_default {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-branding {
    display: flex;
}

.site-branding a.logo {
    float: left;
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
}

.site-branding a.logo img {
    float: left;
    max-width: 110px;
    height: auto;
    margin: 0;
    transition: max-width 0.4s ease-in-out;
}

.site-branding a.logo img.logo-2 {
    visibility: hidden;
}

header.fixed .site-branding a.logo img {
    max-width: 180px;
}

header.fixed .site-branding a.logo img.logo-2 {
    visibility: visible;
}

header.fixed .site-branding a.logo img.logo-1 {
    display: none;
}

.site-branding a.logo h3 {
    text-align: left;
    color: #000;
    font-size: 27px;
    font-family: 'Arial';
    letter-spacing: -1px;
}

.site-branding a.logo h3 span {
    font-family: 'Arial', serif;
    font-weight: normal;
    margin-left: 10px;
}

.site-navwrap {}

.navicons {
    display: none;
}

.navicons a.navshow {
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    color: #000;
    transition: top 0.5s ease;
}

.navicons a.navshow span {}

.navicons a.navhide {
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 3;
    text-decoration: none;
    display: none;
}

.navicons a.navhide span {
    float: left;
    width: 48px;
    height: 48px;
    color: #fff;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sitenav {}

.navwrap {}

.navouter {
    display: flex;
}

nav.headermenu {}

nav.headermenu ul {}

nav.headermenu ul li {
    float: left;
    text-align: left;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-right: 30px;
    font-family: 'Poppins';
    text-transform: uppercase;
    position: relative;
}

nav.headermenu ul li:last-child {
    margin-right: 0;
}

nav.headermenu ul li a {
    color: #000;
    text-decoration: none;
    padding: 8px 15px;
}

header.fixed nav.headermenu ul li a {
    color: #000;
}

nav.headermenu ul li.active a {
    background: #ccc;
    color: #000000 !important;
    border: none;
    border-bottom: 2px solid #0008a3;
}

.contact-info {
    float: right;
    height: auto;
    margin: 0 0 0 0;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-info a {
    float: left;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    margin-right: 8px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    font-family: 'Poppins';
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-info a:first-of-type {
    margin-right: 12px;
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-info a:last-of-type {
    margin-right: 0;
    flex: 1;
    display: flex;
    align-items: center;
}

.contact-info a i {
    color: #0008a3;
    margin-right: 5px;
}

header.fixed .contact-info a {
    color: #000;
}



/* -- BANNER -- */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin: 0;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 0;
}

.banner:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
}

.bannercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;/
}

.bannercontent .text h3 {
    color: #000000;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.bannercontent .text h2 {
    color: #000000;
    font-size: 60px;
    line-height: 1.1;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}

.bannercontent .text p {
    color: #000000;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.bannercontent .text p u {
    font-weight: bold;
    color: #ffc818;
}

.bannercontent a button {
    background-color: #1b8f13;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto hover para el botón "Agregar Servicio" */
.bannercontenttabla_servicios a button:hover {
    background-color: #166c10;
}



/* -- CONTACT STARTS -- */
.contactsection {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 100px 0 100px 0;
    position: relative;
    background: #fff;
}

.contactsection h3 {
    text-align: left;
    color: #0008a3;
    font-size: 90px;
    font-family: 'Poppins';
    margin-bottom: 10px;
}

.contactsection h4 {
    text-align: left;
    color: #000;
    font-size: 21px;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    position: relative;
}

.contactsection p {
    text-align: left;
    color: #0008a3;
    font-size: 13px;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.contactform {
    display: table;
    width: 100%;
    margin: 0 auto 60px auto;
}

.contactform form {
    float: left;
    width: 100%;
}

.contactform form input[type="text"],
.contactform form input[type="email"],
.contactform form input[type="password"],
.contactform form input[type="number"],
.contactform form input[type="date"],
.contactform form textarea {
    float: left;
    width: 45%;
    height: 60px;
    background: #fff;
    border: 2px solid #0008a3;
    text-align: left;
    color: #000 !important;
    font-size: 16px;
    font-family: 'Poppins';
    padding-left: 20px;
    border-radius: 5px;
}

.contactform form textarea {
    width: 100%;
    height: 130px;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000 !important;
    border: 2px solid #0008a3;
    font-size: 16px;
    border-radius: 5px;
}

.contactform form input[type="email"] {
    float: right;
}

.gender-select {
    float: left;
    width: 45%;
    height: 60px;
    background: #fff;
    border: 2px solid #0008a3;
    color: #757575;
    font-size: 19px;
    font-family: 'Poppins';
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contactform form input[type="submit"] {
    float: left;
    width: auto;
    height: 80px;
    padding: 0 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins';
    margin: 30px 0 0 0;
    cursor: pointer;
    background: #1b8f13;
    border: none;
    text-transform: uppercase;
}

/* -- CONTACT ENDS -- */


/* -- ABOUT CSS STARTS -- */
.about {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 100px 0;
}

.about .contentinline {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.about .imagearea {
    width: 50%;
    margin: 0 0 0 0;
    overflow: hidden;
}

.about .imagearea img {
    float: left;
    width: 100%;
    height: auto;
    aspect-ratio: 2/1.75;
    object-fit: cover;
    object-position: center;
}

.about .text {
    width: 45%;
    margin: 0 0 0 0;
}

.about .text h3 {
    text-align: left;
    color: #000;
    font-size: 20px;
    font-family: 'Poppins';
    margin-bottom: 10px;
    margin-top: 0px;
}

.about .text h4 {
    text-align: left;
    color: #4ca24b;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    margin-bottom: 30px;
    position: relative;
}

.about .text p {
    text-align: left;
    color: #000;
    font-size: 14px;
    line-height: 170%;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

.about .text ul {
    list-style: disc;
    padding-left: 18px;
}

.about .text ul li {
    text-align: left;
    color: #000;
    font-size: 14px;
    font-family: 'Poppins';
    margin-bottom: 3px;
}

/* -- ABOUT CSS ENDS -- */


/* -- SERVICES STARTS -- */
.services {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 100px 0 50px 0;
    position: relative;
}

.services:before {
    position: absolute;
    width: 200px;
    height: 1px;
    background: #ccc;
    left: 0;
    right: 0;
    top: 0;
    content: '';
    margin: 0 auto 0 auto;
}

.services h3 {
    text-align: center;
    color: #000;
    font-size: 90px;
    font-family: 'Poppins';
    margin-bottom: 10px;
}

.services h4 {
    text-align: center;
    color: #4ca24b;
    font-size: 21px;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    margin-bottom: 30px;
    position: relative;
}

.services_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;
}

.services_wrap .item {
    flex-basis: 30%;
    margin-bottom: 60px;
}




.services_wrap .item form input[type="email"],
.services_wrap form textarea {
    text-align: center;
    background: #fff;
    border: none;
    color: #111;
    font-size: 15px;
    font-family: 'Poppins';
    padding: 2px 0px;
    margin: auto;
    display: block;
    border: 1px solid grey;
}

.contactform .item form textarea {
    text-align: center;
    margin: auto;
    display: block;
}

.services_wrap form input[type="submit"] {
    text-align: center;
    padding: 10px 25px;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: italic;
    cursor: pointer;
    background: #4ca24b;
    margin: auto;
    display: block;
}

.services_wrap form input[type="submit"]:hover {
    background-color: #48663c;
}

/* -- SERVICES ENDS -- */

/* -- CARRITO STARTS-- */
body {
    margin-top: 200px;
    background: white;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card {
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
    background: #a4ceac;
    color: #000;
    font-family: 'Poppins';
    margin-top: 100px;
}

.my-custom-margin {
    margin-top: 70px;
    margin-bottom: 30px;
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 5rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    vertical-align: middle;

}

/* -- CARRITO ENDS-- */

/* -- FORM COTIZACIÓN STARTS -- */
#registrar {
    font-family: 'Poppins', sans-serif;
}

#registrar select,
#registrar input[type="number"],
#registrar input[type="submit"] {
    font-family: 'Poppins', sans-serif;
}

#registrar input[type="submit"] {
    background-color: #1b8f13;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#registrar input[type="submit"]:hover {
    background-color: #166c10;
}

#total {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000;
}

/* Estilo solo para los botones dentro de los enlaces específicos */
a[href="cotizacion.html"] button,
#aeliminarCotizacion button,
#aactualizar_cotizacion button {
    background-color: #1b8f13;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto hover para los botones */
a[href="cotizacion.html"] button:hover,
#aeliminarCotizacion button:hover,
#aactualizar_cotizacion button:hover {
    background-color: #166c10;
}


/* -- FORM COTIZACIÓN ENDS -- */


/* -- MAP AREA STARTS -- */
.maparea {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
}

.maparea .mapheading {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 40px 0;
    background: #0008a3;
    text-align: left;
    color: #fff;
    font-size: 36px;
    font-family: 'Poppins';
}

.maparea iframe {
    float: left;
    width: 100%;
    height: 600px;
    position: relative;
}

/* -- MAP AREA ENDS -- */


/* -- FOOTER STARTS -- */
footer {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    padding: 70px 0;
    background-color: #0008a3;
    color: #fff;
}

.copyright {
    float: left;
    text-align: left;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins';
}

/* -- FOOTER ENDS -- */

/* Estilo general de la tabla de cotizaciones */
.cotizaciones table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Poppins';
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cotizaciones h2 {
    font-family: 'Poppins', sans-serif;
    /* Aplica la fuente Poppins */
    font-size: 28px;
    /* Ajusta el tamaño según lo necesario */
    font-weight: 600;
    /* Aplica un peso adecuado para destacar */
    color: #001f8d;
    /* Usa el azul intenso para consistencia */
    text-align: center;
    /* Centra el encabezado */
    margin-bottom: 20px;
    /* Ajusta el espaciado inferior */
    text-transform: uppercase;
    /* Opcional: convierte el texto a mayúsculas */
}

/* Encabezado de la tabla */
.cotizaciones table thead th {
    background-color: #001f8d;
    /* Azul intenso */
    color: #ffffff;
    /* Texto blanco */
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
}

/* Filas de la tabla */
.cotizaciones table tbody td {
    background-color: #f9f9f9;
    /* Fondo gris claro */
    border: 1px solid #dddddd;
    padding: 10px;
}

/* Alternar colores de fila */
.cotizaciones table tbody tr:nth-child(even) {
    background-color: #e8e8e8;
    /* Gris más oscuro para alternar */
}

/* Botones de acción */
.cotizaciones table tbody td button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins';
    cursor: pointer;
    text-transform: uppercase;
}

/* Botón de eliminar */
.cotizaciones table tbody td button.eliminar {
    background-color: #ff4d4d;
    /* Rojo */
    color: #ffffff;
}

/* Botón de ver */
.cotizaciones table tbody td button.ver {
    background-color: #007bff;
    /* Azul */
    color: #ffffff;
}

/* Hover en botones */
.cotizaciones table tbody td button:hover {
    opacity: 0.8;
}

/* Encabezado del administrador */
.banner .bannercontent h3,
.banner .bannercontent h2 {
    text-transform: uppercase;
    color: #001f8d;
    /* Azul intenso */
}

/* Footer */
footer .copyright {
    text-align: center;
    background-color: #0008a3;
    /* Azul intenso */
    color: #ffffff;
    /* Blanco */
    padding: 10px 0;
    margin-top: 20px;
}